Repository aditya-you-ex/trial-3-h4ujt7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskstream/lead-architects, @taskstream/backend-team, @taskstream/security-team, @taskstream/ml-engineers, @taskstream/analytics-team, @taskstream/frontend-team, @taskstream/qa-team, @taskstream/devops-team

.github/CODEOWNERS:

################################################################################
# TaskStream AI CODEOWNERS File
# ------------------------------------------------------------------------------
# This file defines the code ownership rules for the TaskStream AI platform,
# enforcing granular review requirements and security protocols. Each path
# pattern is associated with one or more teams or individuals responsible for
# reviewing and approving changes in that directory or file pattern.
#
# SCOPE:
#   1) Ensures root-level changes are reviewed by lead architects.
#   2) Enforces specialized reviews (backend, NLP, analytics, security, etc.).
#   3) Implements mandatory security oversight on critical code paths.
#   4) Aligns with the platform's RBAC + ABAC strategy for compliance.
################################################################################

################################################################################
# 1) Root Level
#    - Ensures that any root-level changes are subject to lead architect review
#      for overall architectural consistency across the platform.
################################################################################
/* @taskstream/lead-architects

################################################################################
# 2) Backend Directory
#    - Requires review by both the backend team and the security team to ensure
#      proper implementation of logic and compliance with security protocols.
################################################################################
/src/backend/ @taskstream/backend-team @taskstream/security-team

################################################################################
# 3) NLP (Natural Language Processing) Components
#    - NLP and ML features require specialized oversight by ML engineers and
#      security team, given their complexity and potential data sensitivity.
################################################################################
/src/backend/nlp/ @taskstream/ml-engineers @taskstream/security-team

################################################################################
# 4) Analytics Services
#    - The analytics team oversees data processing, metrics, and predictive
#      modeling. Security team provides additional security checks.
################################################################################
/src/backend/services/analytics/ @taskstream/analytics-team @taskstream/security-team

################################################################################
# 5) Authentication Service
#    - Critical for system security and identity management. Changes require
#      sign-off from security team and lead architects to ensure compliance.
################################################################################
/src/backend/services/auth/ @taskstream/security-team @taskstream/lead-architects

################################################################################
# 6) Frontend Directory
#    - Changes to UI, user interaction flows, and front-end security measures
#      require review from the frontend team and the security team.
################################################################################
/src/web/ @taskstream/frontend-team @taskstream/security-team

################################################################################
# 7) Test Suite
#    - The QA team oversees comprehensive test coverage and ensures adherence
#      to quality assurance standards.
################################################################################
/src/test/ @taskstream/qa-team

################################################################################
# 8) Security Testing Suite
#    - Security tests require both security and QA team approval, given the
#      specialized nature of penetration and vulnerability checks.
################################################################################
/src/test/security/ @taskstream/security-team @taskstream/qa-team

################################################################################
# 9) Infrastructure Code
#    - Changes to deployment, Terraform, orchestration scripts, or IaC require
#      review by the DevOps team and the security team to maintain stability
#      and compliance.
################################################################################
/infrastructure/ @taskstream/devops-team @taskstream/security-team

################################################################################
# 10) GitHub Workflows
#    - The DevOps team manages CI/CD pipelines. Security team reviews ensure
#      there are no exposed secrets or insecure automation logic.
################################################################################
/.github/workflows/ @taskstream/devops-team @taskstream/security-team

################################################################################
# 11) Security Configuration
#    - Security configuration files define crucial encryption and authentication
#      parameters. Both security team and lead architects validate changes.
################################################################################
/src/backend/config/security.ts @taskstream/security-team @taskstream/lead-architects

################################################################################
# 12) package.json
#    - Changes to Node dependencies can introduce new vulnerabilities. Lead
#      architects and security team jointly approve to mitigate risk.
################################################################################
package.json @taskstream/lead-architects @taskstream/security-team

################################################################################
# 13) requirements.txt
#    - Python dependencies also require careful scrutiny by architects and the
#      security team for potential vulnerabilities or license compliance.
################################################################################
requirements.txt @taskstream/lead-architects @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/core/intent_classification.py
  src/backend/nlp/core/intent_classification.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/core/task_extraction.py
  src/backend/nlp/core/task_extraction.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/core/text_processing.py
  src/backend/nlp/core/text_processing.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/models/bert_classifier.py
  src/backend/nlp/models/bert_classifier.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/models/embeddings.py
  src/backend/nlp/models/embeddings.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/models/ner_model.py
  src/backend/nlp/models/ner_model.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/services/communication_processor.py
  src/backend/nlp/services/communication_processor.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/services/model_trainer.py
  src/backend/nlp/services/model_trainer.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/utils/preprocessing.py
  src/backend/nlp/utils/preprocessing.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/utils/validation.py
  src/backend/nlp/utils/validation.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/__init__.py
  src/backend/services/analytics/__init__.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/api/routes.py
  src/backend/services/analytics/api/routes.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/core/aggregations.py
  src/backend/services/analytics/core/aggregations.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/core/metrics.py
  src/backend/services/analytics/core/metrics.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/core/predictions.py
  src/backend/services/analytics/core/predictions.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/models/performance.py
  src/backend/services/analytics/models/performance.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/models/resource.py
  src/backend/services/analytics/models/resource.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/services/dashboard.py
  src/backend/services/analytics/services/dashboard.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/analytics/services/reporting.py
  src/backend/services/analytics/services/reporting.py
Owners: @taskstream/analytics-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/config.ts
  src/backend/services/auth/src/config.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/controllers/auth.controller.ts
  src/backend/services/auth/src/controllers/auth.controller.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/middleware/jwt.middleware.ts
  src/backend/services/auth/src/middleware/jwt.middleware.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/models/user.model.ts
  src/backend/services/auth/src/models/user.model.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/routes/auth.routes.ts
  src/backend/services/auth/src/routes/auth.routes.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/services/auth.service.ts
  src/backend/services/auth/src/services/auth.service.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/auth/src/utils/crypto.ts
  src/backend/services/auth/src/utils/crypto.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/cmd/server/main.go
  src/backend/services/integration/cmd/server/main.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/adapters/email.go
  src/backend/services/integration/internal/adapters/email.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/adapters/jira.go
  src/backend/services/integration/internal/adapters/jira.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/adapters/slack.go
  src/backend/services/integration/internal/adapters/slack.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/api/handlers.go
  src/backend/services/integration/internal/api/handlers.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/api/routes.go
  src/backend/services/integration/internal/api/routes.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/config/config.go
  src/backend/services/integration/internal/config/config.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/models/integration.go
  src/backend/services/integration/internal/models/integration.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/integration/internal/services/sync.go
  src/backend/services/integration/internal/services/sync.go
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/tasks/src/config.ts
  src/backend/services/tasks/src/config.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/tasks/src/controllers/project.controller.ts
  src/backend/services/tasks/src/controllers/project.controller.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/tasks/src/controllers/task.controller.ts
  src/backend/services/tasks/src/controllers/task.controller.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/tasks/src/models/project.model.ts
  src/backend/services/tasks/src/models/project.model.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/services/tasks/src/models/task.model.ts
  src/backend/services/tasks/src/models/task.model.ts
Owners: @taskstream/backend-team, @taskstream/security-team
