Repository aditya-you-ex/trial-3-h4ujt7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskstream/lead-architects, @taskstream/backend-team, @taskstream/security-team, @taskstream/ml-engineers, @taskstream/analytics-team, @taskstream/frontend-team, @taskstream/qa-team, @taskstream/devops-team

.github/CODEOWNERS:

################################################################################
# TaskStream AI CODEOWNERS File
# ------------------------------------------------------------------------------
# This file defines the code ownership rules for the TaskStream AI platform,
# enforcing granular review requirements and security protocols. Each path
# pattern is associated with one or more teams or individuals responsible for
# reviewing and approving changes in that directory or file pattern.
#
# SCOPE:
#   1) Ensures root-level changes are reviewed by lead architects.
#   2) Enforces specialized reviews (backend, NLP, analytics, security, etc.).
#   3) Implements mandatory security oversight on critical code paths.
#   4) Aligns with the platform's RBAC + ABAC strategy for compliance.
################################################################################

################################################################################
# 1) Root Level
#    - Ensures that any root-level changes are subject to lead architect review
#      for overall architectural consistency across the platform.
################################################################################
/* @taskstream/lead-architects

################################################################################
# 2) Backend Directory
#    - Requires review by both the backend team and the security team to ensure
#      proper implementation of logic and compliance with security protocols.
################################################################################
/src/backend/ @taskstream/backend-team @taskstream/security-team

################################################################################
# 3) NLP (Natural Language Processing) Components
#    - NLP and ML features require specialized oversight by ML engineers and
#      security team, given their complexity and potential data sensitivity.
################################################################################
/src/backend/nlp/ @taskstream/ml-engineers @taskstream/security-team

################################################################################
# 4) Analytics Services
#    - The analytics team oversees data processing, metrics, and predictive
#      modeling. Security team provides additional security checks.
################################################################################
/src/backend/services/analytics/ @taskstream/analytics-team @taskstream/security-team

################################################################################
# 5) Authentication Service
#    - Critical for system security and identity management. Changes require
#      sign-off from security team and lead architects to ensure compliance.
################################################################################
/src/backend/services/auth/ @taskstream/security-team @taskstream/lead-architects

################################################################################
# 6) Frontend Directory
#    - Changes to UI, user interaction flows, and front-end security measures
#      require review from the frontend team and the security team.
################################################################################
/src/web/ @taskstream/frontend-team @taskstream/security-team

################################################################################
# 7) Test Suite
#    - The QA team oversees comprehensive test coverage and ensures adherence
#      to quality assurance standards.
################################################################################
/src/test/ @taskstream/qa-team

################################################################################
# 8) Security Testing Suite
#    - Security tests require both security and QA team approval, given the
#      specialized nature of penetration and vulnerability checks.
################################################################################
/src/test/security/ @taskstream/security-team @taskstream/qa-team

################################################################################
# 9) Infrastructure Code
#    - Changes to deployment, Terraform, orchestration scripts, or IaC require
#      review by the DevOps team and the security team to maintain stability
#      and compliance.
################################################################################
/infrastructure/ @taskstream/devops-team @taskstream/security-team

################################################################################
# 10) GitHub Workflows
#    - The DevOps team manages CI/CD pipelines. Security team reviews ensure
#      there are no exposed secrets or insecure automation logic.
################################################################################
/.github/workflows/ @taskstream/devops-team @taskstream/security-team

################################################################################
# 11) Security Configuration
#    - Security configuration files define crucial encryption and authentication
#      parameters. Both security team and lead architects validate changes.
################################################################################
/src/backend/config/security.ts @taskstream/security-team @taskstream/lead-architects

################################################################################
# 12) package.json
#    - Changes to Node dependencies can introduce new vulnerabilities. Lead
#      architects and security team jointly approve to mitigate risk.
################################################################################
package.json @taskstream/lead-architects @taskstream/security-team

################################################################################
# 13) requirements.txt
#    - Python dependencies also require careful scrutiny by architects and the
#      security team for potential vulnerabilities or license compliance.
################################################################################
requirements.txt @taskstream/lead-architects @taskstream/security-team

Add public-samples/trial-3-h4ujt7/infrastructure/terraform/aws/waf/variables.tf
  infrastructure/terraform/aws/waf/variables.tf
Owners: @taskstream/devops-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/.env.example
  src/backend/.env.example
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/README.md
  src/backend/README.md
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/package.json
  src/backend/package.json
Owners: @taskstream/lead-architects, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @taskstream/lead-architects, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/gateway/kong.yml
  src/backend/api/gateway/kong.yml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/gateway/routes.ts
  src/backend/api/gateway/routes.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/security.yaml
  src/backend/api/openapi/security.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/swagger.yaml
  src/backend/api/openapi/swagger.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/schemas/analytics.yaml
  src/backend/api/openapi/schemas/analytics.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/schemas/auth.yaml
  src/backend/api/openapi/schemas/auth.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/schemas/common.yaml
  src/backend/api/openapi/schemas/common.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/schemas/projects.yaml
  src/backend/api/openapi/schemas/projects.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/schemas/tasks.yaml
  src/backend/api/openapi/schemas/tasks.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/api/openapi/schemas/users.yaml
  src/backend/api/openapi/schemas/users.yaml
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/config/database.ts
  src/backend/config/database.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/config/elasticsearch.ts
  src/backend/config/elasticsearch.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/config/kafka.ts
  src/backend/config/kafka.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/config/logging.ts
  src/backend/config/logging.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/config/redis.ts
  src/backend/config/redis.ts
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/config/security.ts
  src/backend/config/security.ts
Owners: @taskstream/security-team, @taskstream/lead-architects

Add public-samples/trial-3-h4ujt7/src/backend/db/migrations/00001_initial_schema.sql
  src/backend/db/migrations/00001_initial_schema.sql
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/db/migrations/00002_task_tables.sql
  src/backend/db/migrations/00002_task_tables.sql
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/db/migrations/00003_analytics_tables.sql
  src/backend/db/migrations/00003_analytics_tables.sql
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/db/seeds/development.sql
  src/backend/db/seeds/development.sql
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/db/seeds/test.sql
  src/backend/db/seeds/test.sql
Owners: @taskstream/backend-team, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/__init__.py
  src/backend/nlp/__init__.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/api/endpoints.py
  src/backend/nlp/api/endpoints.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/api/routes.py
  src/backend/nlp/api/routes.py
Owners: @taskstream/ml-engineers, @taskstream/security-team

Add public-samples/trial-3-h4ujt7/src/backend/nlp/core/entity_extraction.py
  src/backend/nlp/core/entity_extraction.py
Owners: @taskstream/ml-engineers, @taskstream/security-team
